#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px gray solid;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

button{
  margin: 20px;
}

.drop-area, .result, .selected{
  border: 1px gray solid;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  text-align: center;
}

.drop-area>p{
  font-size: small;
}

